.courseBoxContainer {
    padding-right:5px;
}

.year {
    margin-bottom: 10px;
}

#plan_all{
    position:relative;
    left:50px;
    top:100px;
}

.rowName{
    line-height:100px;
}

.semestername{
    text-align:center;
    position:relative;
    top:100px;
}

#plan{
    position:relative;
    left:200px;
    top:100px;
}

.courseBox {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color:aliceblue;
}

#planMenu{
    float:right;
    position:relative;
    top:-300px;
    height:500px;
}

.directeds {
    width: 100px;
    margin-bottom: 2px;
    padding: 2px;
    background-color: aliceblue;
}

.electives {
    width: 100px;
    margin-bottom: 2px;
    padding: 2px;
    background-color: aliceblue;
    float: right;
}

#tabs{
    height:100%;
}

#tabs-2{
    padding:10px;
    
}

#accordion{
    position:relative;
    top:10px;
}

.accordions {
    padding: 0px !important;
}

h4{
    width:80%;
    float:right;
}