
@{
    ViewBag.Title = "Index";
}

<div id="h">
    <div class="container">
        <div class="row">
            <li><button class="btn btn-lg btn-info btn-register">Register</button></li>
            <div class="col-md-10 col-md-offset-1 mt">
                <h3>We know the struggles of university students</h3>
                <h1 class="mb">PROGRAM MAPPER</h1>
            </div>
            <div class="col-md-12 mt hidden-xs">
                <img src="assets/img/graph.png" class="img-responsive aligncenter" alt="" data-effect="slide-bottom">
            </div>
        </div>
    </div>
</div>
<div id="w">
    <div class="row nopadding">
        <div class="col-md-5 col-md-offset-1 mt">
            <h4>Straight Forward</h4>
            <p>A new straight forward way to visualise your degree structure.</p>
            <p>Gone are the days of hassling your program coordinator to make sure you're doing the prerequisits.</p>
            <p></p>
            <p class="mt"><button class="btn btn-info btn-theme">Get Structured Now</button></p>
        </div>

        <div class="col-md-6 pull-right">
            <img src="assets/img/shot01.png" class="img-responsive alignright" alt="" data-effect="slide-right">
        </div>
    </div>
</div>
<div id="picton">
    <div class="row nopadding">
        <div class="col-md-6 pull-left">
            <img src="assets/img/shot02.png" class="img-responsive alignleft" alt="" data-effect="slide-left">
        </div>
        <div class="col-md-5 mt">
            <h4>Main Features</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p>LOREM IPSUM Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p class="mt"><button class="btn btn-white btn-theme">Get Structured Now</button></p>
        </div>

    </div>
</div>
<div id="curious">
    <div class="row nopadding">
        <div class="col-md-5 col-md-offset-1 mt">
            <h4>DOT POINT BLAH BLAH WOOP WOOP</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p class="mt"><button class="btn btn-white btn-theme">Get Structured Now</button></p>
        </div>

        <div class="col-md-6 pull-right">
            <img src="assets/img/shot03.png" class="img-responsive alignright" alt="" data-effect="slide-right">
        </div>
    </div>
</div>

<div id="c">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 centered">
                <p>INFT3970 IT Major Project</p>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
@section Scripts {
    @Scripts.Render("assets/js/jquery.min.js")
    @Scripts.Render("assets/js/bootstrap.min.js")
    @Scripts.Render("assets/js/retina-1.1.0.js")
    @Scripts.Render("assets/js/jquery.unveilEffects.js")
}