@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Plan.css">
    <title></title>
</head>
<body>
    <div id="plan_all">
        <div id="year1" class="year">
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
        </div>

        <div id="year2" class="year">
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
        </div>

        <div id="year3" class="year">
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
            <div class="coursebox"></div>
        </div>
    </div>
</body>
</html>
